@import "abstracts/variables";
@import "base/typography";
@import "base/utilities";
@import 'components/article';
@import 'components/navigation';
@import 'layout/header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px
    font-family: sans-serif;
}

body {
    min-height: 100vh;
}

html, body {
    background-color: $color-off-white;
}