.nav {
    border-top: 2px solid #111133;
    border-bottom: 2px solid #111133;
    display: flex;
    justify-content: center;

    &__link {
        padding: 1rem 2rem;
        font-size: 1.4rem;
        color: #111133;
        text-decoration: none;
        transition: 0.3s ease;

        &:hover {
            background-color: #111133;
            color: #ddddff;
        }
    }
}