.primary-header {
    width: 100%;
    font-size: 4rem;
    color: $color-off-black;
    text-align: center;
    font-weight: normal;
}

.secondary-header {
    width: 100%;
    font-size: 3rem;
    color: $color-off-black;
    font-weight: normal;
}